.backgroundSpinner{
    background: rgba(0,0,0,.3);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 99999;
    top: 0;
    left: 0;
}

.spinner{
    margin: 45vh auto;
    display: flex;
    position: relative;
    height: 100%;
}

.spinner span{
    margin: 0 auto;
}
.spinner span span{
    background-color: #FF6666!important;
}